@media (max-width: 768px) {
    //global theme


    #header {
        display: inline-flexbox;
        
        & .header__logo {
            display: block;
        }
    }

    .container {
        display: inline;
        width: 10%;
    }

    .navbar-brand img {
        display: block;
        width: 100%;
    }

    #main {
        padding: 0 5% 0 5%;
    }

    .main {

        &__index {
            padding: 0 5% 0 5%;
        }
        
        &__titulos {
            width: 80%;
        }

        & &__titulo {
            width: 80%;
            position: inherit;
        }

        & &__lista {
            display: flex;
            flex-wrap: wrap;

            & ul {
                align-items: center;
            }

            & li {
                background-size: 30px;
            }
        }
    }

    .footer .footer{
        &__atajos {
            display: flex;
            flex-wrap: wrap;
        }
    }


    //index

    .main {
        justify-content: center;
        width: 10%;
        font-size: small;

        & &__empresa img {
            width: 40%!important; //no se pq me toco hacer esto
        }

        & &__servicios {
            justify-items: center;

            &_a {
                grid-column: 1/3;
            }

            &__img {
                display: none;
            }

            &__atajos li a {
                font-size: 1rem; //f*k dis
                padding-left: 0rem;//f*k dis
                padding-right: 0rem;//f*k dis
            }
        }
        & &__app {  //auxiliooooooooooooooooooo
            grid-column: 1/3;

            &__appstore {
                width: 50%;
            }

            &__playstore {
                width: 42%;
            }

        }
        & &__oficina {
            display: none;
        }
        & &__cuadro {
            width: 18rem
        }
        &__services__titulo {
            width: 80% //ayudaaaaaaaaaaaaaaa;
        }
    }
    /* envio */

    #main .main__solicitud {
        display: inline!important; //ayudaaaaaaaaaaaaaaa;
        text-align: center;

        &__datos {
            padding-bottom: 10%;
        }
        &__largo {
            width: 290px!important;//ayudaaaaaaaaaaaaaaa;
        }
        &__medio {
            width: 200px!important;
        }
        &__corto {
            width: 90px!important;//ayudaaaaaaaaaaaaaaa;
        }
    }




    /* pedido */

    #main .main__solicitud__pedido {
        height: 40vh!important;
        text-align: center;

        &__campos {

            & label:nth-child(3){
                grid-column: 2/4;
            }
            & h4 {
                grid-column: 1/4;
                font-size: medium;
            }
        }
        &__largo {
            width: 280px!important;
        }
    }

    /* Contactanos */    

    #main .main{
    
        &__encabezado {
            background: url(https://image.shutterstock.com/image-photo/call-center-help-line-service-260nw-2110709018.jpg) no-repeat top/100%!important;
            margin-top: 0!important;
            height: 10rem!important;
            border-radius: 0!important;
            width: auto!important;
        }

        &__titulo__contacto {
            width: 11rem!important;
            text-align: center!important;
            font-size: 1.5rem!important;
            margin-left: 5%!important;
            margin-top: 2rem !important;
        }

        &__body {
            position: relative;
            left: -40px;
        }

        &__cuadro__contacto {
            display: flex!important;
            flex-wrap: wrap!important;
            width: 310px;
            justify-content: center;
        }

        &__mensaje {
            display: flex!important;
            flex-wrap: wrap!important;
            justify-content: center;
        }

        &__solicitud__pedido__largo.mensaje {
            width: 80%!important;
            position: relative;
            left: -20px;
        }

        &__boton{
            &__file {
                width: 100%;
            }
        }

        &__mensaje__texto {
            width: 100%!important;
            height: auto;
        }

        //lineas
        &__lineas legend {
            left: 0!important;
            transform: none!important;
        }

        //chat

        &__chat__form {
            display: inline!important;
            text-align: center!important;
        }
        //oficina
        #gmap_canvas {
            width: auto;
            height: 350px;
        }
    }

    /* Contactanos */ 

    .main .main {
        &__discurso {
            display: flex!important;
            flex-wrap: wrap!important;
            width: 90vw!important;
            gap: 10px!important;

            & img  {
                width: 290px!important;
            }

            & iframe {
                width: 310px;
                height: 500px;
            }
        }

        &__empresa__a, &__boton__historia {
            width: 90%!important;
            position: relative;
            left: 20px;
        }

        &__objetivos {
            margin-top: 2%!important;
            display: inline!important;
        }

        &__sostenibilidad {
            display: inline!important;

            & img {
                width: 290px!important;
            }
        }
        
    }

}

